html,
body,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Timeline container */
.timeline-container {
  max-width: 1280px;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

/* Timeline styling */
.timeline {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.timeline-item {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 150px;
  position: relative;
  transition: transform 0.3s;
  margin: 20px 0;
  max-width: 220px; /* Ensure it doesn't stretch too wide */
}

/* Add the pushpin effect */
.timeline-item::before {
  content: '';
  width: 12px;
  height: 12px;
  background-color: orange; /* Pin color */
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%; /* Circle shape */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}

.timeline-item:hover {
  transform: scale(1.05); /* Hover effect */
}

.timeline-year {
  font-size: 1.5rem;
  color: #f90;
  margin-bottom: 15px;
}

.timeline-content h3 {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 1rem;
  color: #555;
}

.skills {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
    gap: 40px;
    align-items: center; /* Ensure the timeline is centered */
  }
  .timeline-item {
    width: 90%; /* Adjust to reduce the width slightly */
    margin: 0 auto; /* Ensure items are centered */
    max-width: none; /* Remove max-width for mobile */
  }
}
