.banner {
  padding-top: 120px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
}
div.banner {
  padding-top: 120px;
  padding-bottom: 45px;
}

/* Başlık solda ve büyük olacak */
.banner h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-left: 40px; /* Başlığın menüyle olan uzaklığını ayarladık */
  text-align: justify;
  color: #333; /* Renk ayarı */
}

/* Paragraf sağda toplu olacak */
.banner p {
  max-width: 600px; /* Paragrafa bir genişlik sınırlaması koy */
  text-align: justify;
  margin-right: 40px; /* Paragrafın menüyle olan uzaklığı eşit olacak */
  color: #555; /* Yazı rengini daha açık bir gri yaparak okunabilirliği arttıralım */
  line-height: 1.6; /* Satır aralığı */
  padding-top: 20px; /* Paragrafın üst boşluğunu biraz arttırdık */
}
